<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.bankBook.BankBookDAO"> <!-- dao의 클래스명으로 적음 풀패키지명으로 적음, 마음대로 적어도 됨 --> 
  
  	<sql id="searchSql">
  		<choose>
				<when test="kind == 'name'">
				 AND BOOKNAME LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
				 AND BOOKCONTENTS LIKE '%'||#{search}||'%'
				</otherwise>	
			</choose>
  	</sql>
  	
  	 <select id="getTotal" resultType="Long" parameterType="Pager">
  	 	SELECT COUNT(BOOKNUM) FROM BANKBOOK
  	 	WHERE BOOKNUM >0
  	 	<include refid="searchSql"/>
		
  	 </select>
  	 
  	 <select id="getList" parameterType="Pager" resultType="bankBookDTO"> <!-- arrayList에서는 set이없으므로 dto를 써야함 -->
		 SELECT BOOKNUM,BOOKNAME,BOOKRATE,BOOKSALE FROM
			(SELECT ROWNUM R, B.* FROM
				(
					SELECT * FROM BANKBOOK
					WHERE BOOKNUM >0
					<include refid="searchSql"/>
						
						<!-- <if test="kind == 'name'">
							AND BOOKNAME LIKE '%검색어%'
						</if> 
						<if test="kind == 'contents'">
							AND BOOKCONTENTS LIKE '%검색어%'
						</if> -->
					ORDER BY BOOKNUM DESC
				) B
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow} <!-- map은 key이름 보냄 -->
 	</select>
 	
 	<select id="getDetail" resultType="bankBookDTO" parameterType="com.iu.main.bankBook.BankBookDTO"> <!-- id=dao메서드명 -->
 	SELECT * FROM BANKBOOK WHERE BOOKNUM = #{bookNum}  <!-- getter의 이름-->
 	</select>
 	

 	<insert id="setAdd" parameterType="bankBookDTO">   <!-- insert는 result가 성공하면 0이상 실패하면 0이므로 resultType을 안써줘도된다 -->
 		INSERT INTO BANKBOOK VALUES(BANK_SEQ.NEXTVAL,#{bookName},#{bookRate},#{bookSale},#{bookContents})
 		
 	</insert>
 	
 	<update id="setUpdate" parameterType="bankBookDTO">
 		UPDATE BANKBOOK SET 
 		BOOKNAME=#{bookName},
 		BOOKRATE=#{bookRate},
 		BOOKSALE=#{bookSale},
 		BOOKCONTENTS=#{bookContents} 
 		WHERE BOOKNUM=#{bookNum}	
 	</update>
 	
 	<delete id="setDelete" parameterType="Long">
		DELETE BANKBOOK WHERE BOOKNUM = #{num}  	
 	</delete>
 	

 	

 	
 	
  </mapper>

