<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.bookAccount.BookAccountDAO">
  
  
  <select id="getTotal" resultType="Long">
	SELECT COUNT(ACCOUNTNUM) FROM BOOKACCOUNT
  </select>
  <!-- list  -->
  <select id="getList" parameterType="Map" resultType="BookAccountDTO" > 
  
  SELECT *
  FROM
  (SELECT ROWNUM R, B.*
 		FROM
 		(SELECT *
				FROM BOOKACCOUNT
	 	 	 WHERE ID =#{member.id}
	 		 ORDER BY ACCOUNTNUM DESC	
	  	 ) B
	 )
   WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
  </select>
  
  
  
  <!-- detail  -->
  	  <select id="getDetail" resultType="BookAccountDTO" parameterType="BookAccountDTO">
  	SELECT B.*
		FROM BOOKACCOUNT B JOIN MEMBER M	
							ON B.ID = M.ID
				   		  JOIN BANKBOOK BB
				   			ON B.BOOKNUM = BB.BOOKNUM
		WHERE B.ACCOUNTNUM = #{accountNum}
  </select>
  
  <!-- add  -->
	<insert id="setAdd" parameterType="BookAccountDTO" >
 		INSERT INTO BOOKACCOUNT
 		VALUES (BA_SEQ.NEXTVAL,#{id},#{bookNum},#{account},#{accountPassword},#{accountBalance},sysdate)
 	</insert>
 	
  <!-- update  -->
  	<update id="setUpdate" parameterType="BookAccountDTO">
  		UPDATE BOOKACCOUNT SET ACCOUNT=#{account}, ACCOUNTPASSWORD=#{accountPassword}, ACCOUNTBALANCE=#{accountBalance} 
  		WHERE ACCOUNTNUM=#{accountNum}
  	</update>
  	
  <!-- delete  -->
  	<delete id="setDelete" parameterType="BookAccountDTO">
  		DELETE FROM BOOKACCOUNT WHERE ACCOUNTNUM=#{accountNum}  	
  	</delete>
  
  
  </mapper>

