<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.notice.NoticeDAO">
  
  	<sql id="searchSql">
  		<if test="kind == 'name'">
		 		AND	NOTICENAME LIKE '%'||#{search}||'%'
		 	</if>
		 	<if test="kind == 'title'">
		 		AND	NOTICETITLE LIKE '%'||#{search}||'%'
		 	</if>
		 	<if test="kind == 'contents'">
		 		AND	NOTICECONTENTS LIKE '%'||#{search}||'%'
		 	</if>
  	</sql>
  
  	<select id="getTotal" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NOTICENUM) FROM NOTICE
  		WHERE NOTICENUM > 0
  		<include refid="searchSql"/>
		 	
  	</select>
  <!-- list -->
  	<select id="getList" parameterType="Pager" resultMap="getDetailResult">
  	
  		SELECT NOTICENUM,NOTICENAME,NOTICETITLE,NOTICEDATE,NOTICEHIT
	  		FROM(SELECT ROWNUM R, B.*
		  		 FROM(
		  			 SELECT *
		  			 FROM NOTICE
		  			 WHERE NOTICENUM > 0
		  			 <include refid="searchSql"/>
		  			 	
		  			 ORDER BY NOTICENUM DESC
		  			 ) B
		  	)
		WHERE R BETWEEN #{startRow} AND #{lastRow} 			
  	</select>
  	
 <!--  	<resultMap type="NoticeDTO" id="getSelectResult">
		<id column="NOTICENUM" property="num"/>
 		<result column="NOTICENAME" property="name"/>
 		<result column="NOTICETITLE" property="subject"/>
 		<result column="NOTICECONTENTS" property="contents"/>
 		<result column="NOTICEDATE" property="date"/>
 		<result column="NOTICEHIT" property="hit"/>
  	</resultMap> -->
 	
 	<!-- 파일업로드 -->
	<insert id="setFileAdd" parameterType="NoticeFileDTO" >
  		INSERT INTO NOTICEFILE VALUES(NF_SEQ.NEXTVAL,#{noticeNum},#{fileName},#{originalName})
  	</insert>
 	
 	<!-- add -->
 	<insert id="setAdd" parameterType="NoticeDTO" >
 		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
 			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO NOTICE (NOTICENUM,NOTICENAME,NOTICETITLE,NOTICECONTENTS,NOTICEDATE,NOTICEHIT)
 		VALUES (#{num},#{name},#{subject},#{contents},SYSDATE,1)
 	</insert>
 	
 	<!-- detail -->
 	<select id="getDetail" resultMap="getDetailResult" parameterType="NoticeDTO">
 		SELECT N.*,NF.*
		FROM NOTICE N LEFT JOIN NOTICEFILE NF
			ON (N.NOTICENUM = NF.NOTICENUM)
		WHERE N.NOTICENUM=#{num}
 	</select> 
 	
 	<resultMap type="NoticeDTO" id="getDetailResult">
 	
 		<id column="NOTICENUM" property="num"/>
 		<result column="NOTICENAME" property="name"/>
 		<result column="NOTICETITLE" property="subject"/>
 		<result column="NOTICECONTENTS" property="contents"/>
 		<result column="NOTICEDATE" property="createDate"/>
 		<result column="NOTICEHIT" property="hit"/>
 		
		<collection property="fileDTOs" javaType="List" ofType="NoticeFileDTO"> <!-- 1:n 일때 -->
 		
	 		<id column="FILENUM" property="fileNum"/>
	 		<result column="FILENAME" property="fileName"/>
	 		<result column="ORIGINALNAME" property="originalName"/>
 		</collection>
 		
 	</resultMap>
 	
 	<!-- update  -->
 	<update id="setUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE SET NOTICETITLE=#{subject}, NOTICECONTENTS=#{contents} WHERE NOTICENUM=#{num}
		
		  	
 	</update>
 	
 	<!--delete  -->
 	<delete id="setDelete" parameterType="NoticeDTO">
 		DELETE FROM NOTICE WHERE NOTICENUM = #{num}  
 	</delete>
 	
 	<!--fiel del  -->
 	<delete id="setFileDelete" parameterType="NoticeFileDTO">
 		DELETE NOTICEFILE WHERE FILENUM=#{fileNum}
 	</delete>
 	
 	<select id="getFileDetail" parameterType="NoticeFileDTO" resultType="NoticeFileDTO">
 		SELECT FILENUM, FILENAME, ORIGINALNAME
 		FROM NOTICEFILE
 		WHERE FILENUM=#{fileNum}	
 		
 	</select>
 	
 	
 		
  
  	</mapper>

