<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.main.student.StudentDAO">
  
  <select id="getList" resultType="com.iu.main.student.StudentDTO">
  	SELECT ST_NO,ST_NAME FROM STUDENT ORDER BY ST_NO DESC
  </select>
  
  <select id="getDetail" resultType="com.iu.main.student.StudentDTO" parameterType="com.iu.main.student.StudentDTO">
  	SELECT * FROM STUDENT WHERE ST_NO=#{st_no}
  </select>
  
  <insert id="setAdd" parameterType="com.iu.main.student.StudentDTO">
  	INSERT INTO STUDENT(st_no,st_name,kor,eng,math) VALUES(ST_SEQ.NEXTVAL,#{st_name},#{kor},#{eng},#{math})
  </insert>

	<update id="setUpdate" parameterType="com.iu.main.student.StudentDTO">
		UPDATE STUDENT SET
		ST_NAME=#{st_name},
		KOR=#{kor},
		ENG=#{eng},
		MATH=#{math}
		WHERE ST_NO=#{st_no}
	</update> 
	
	<delete id="setDelete" parameterType="com.iu.main.student.StudentDTO">
		DELETE STUDENT WHERE ST_NO=#{st_no}
	</delete> 
  
  	
  	
  </mapper>
  

  
  
  